html,
body{
    padding:0;
    margin:0;
    height:100%;
}
body{
    background: rgba(0,0,14);
}
p,h1,h2,h3,h6{
    margin: 0%;
    padding: 0;
}
.cont2{
    background: linear-gradient(352deg, rgba(0, 0, 0, 0.8) 0%, rgba(33, 9, 23, 0.9) 100%);
    background-size: contain;
    opacity: 0.9;
    text-shadow: 0px 0px 12px rgba(255, 0, 255, 0.6);
}
.navigator{
    /* background: rgba(0,0,14); */
    display: flex;
    color: white;
    justify-content: center;
    margin: 0;
}
.navigator h3{
    font-family: sans-serif;
    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 23px;
    cursor: default;
}
.navigator h3[data-selected=true]{
    /* background: #B2253D; */
    border-bottom: 2px solid #617893;
}
.navigator h3:hover{
    background: #61789357;
}
.typo{
    padding-left: 10px;
    font-size: 32px;
    font-family: sans-serif;
    font-weight: lighter;
}
.fur{
    color:#d51cd5;
}
.welcoming{
    height: 100%;
    width: 100%;
    background-image: url('./background2.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    opacity: 0.9;
}
.container1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
}
.socialM{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.face , .insta,.gmail{
    height: 38px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    cursor:pointer;
    border-radius: 50%;
    animation: show 1s ease-in-out;
}
.face{
    margin-right: 10px;
    margin-left: 10px;
}
.loai{
    height: 270px;
    width: 213px;
    border-radius: 15px;
    object-fit: cover;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
.workin{
    display: flex;
    flex-direction: column;
}
.font-sans-36px{
    animation: show 1s ease-in-out;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 50px;
    color: #ffffff;
    text-shadow: 1px 1px 40px rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}
.title{
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: italic;
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
}
.cont1{
    display: flex;
    height: auto;
}
.uncol{
    display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: center;
    margin-right: 22px;
    margin-bottom: 45px;
    margin-top: 20px;
}
.small{
    font-family: sans-serif;
    padding-left: 20px;
    padding-top: 15px;
}
.statics{
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    margin-bottom: 50px;
}
.skills,.projects,.projects2{
    height: auto;
    width: auto;
    color: white;
    /* background: rgba(0,0,14); */
    padding-right: 4px;
    padding-left: 4px;
}
.projects,.projects2{
    display: none;
}

.prog1 ,.prog2,.prog3 , .prog4 ,.prog5{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    margin-bottom: 10px;
}
label{
    font-family: "Kanit", sans-serif;
    font-size: 13px;
    font-weight: 100;
    font-style: italic;
    width: 126px;

}
.myanal{
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: italic;
    position: relative;
    left: 10px;
}
h1{
    font-weight: lighter;
    font-family: sans-serif;
    font-style: italic;
}
#prog1 , #prog2 , #prog3, #prog3 , #prog4,#prog5{
    border-radius: 0;
}
.des{
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    margin-bottom: 24px;
}
.desc{
    padding-left: 40px;
    font-family: sans-serif;
    font-size: 18px;
}
.link{
    padding-left: 40px;
    color: #d51cd5;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 18px;
}
.pgs{
    width: min-content;
    display: flex;
    align-items: center;
}
.pgstxt{
    text-align: center;
    font-size: 12px;
    width: min-content;
    font-style: italic;
    position: relative;
    left: 2%;
}
@keyframes show {
    from{
        transform: translateY(15px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
.full{
    height: 100%;
    background-color: #a40bc7;
    display: flex;
    flex-grow: 1;
    border-radius: 18px 0px 0px 18px;
}
.not{
    height: 100%;
    background-color: white;
    display: flex;
    flex-grow: 1;
    border-radius: 0px 18px 18px 0px;
}
.pdiv{
    display: flex;
    align-items: center;
    width:400px;
    border-radius: 2px;
    height: 12px;
    margin-left: 10px;
}
.wrkflow{
    display: flex;
    justify-content: center;
}
.progcont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

.statics {
    display: flex;
    flex-direction: column;
}
#learned{
    text-align: center;
}
ol li{
    font-family: sans-serif;
    font-style: italic;
    font-size: 18px;
}
.secparg{
    font-family: sans-serif;
    font-size: 17px;
    font-weight: lighter;
}
::-webkit-scrollbar{
    width:5px;
}
@media (max-width:1582px) and (min-width:778px){
    .pdiv{
        width: 248px;
        margin-left: 10px;
    }
    .pgstxt{
        width: min-content;
    }
    .myanal{
        left:15px;
    }
    h1,.typo{
        font-size: 22px;
    }
    .title{
        font-size: 26px;
        top: 0px!important;
    }
    .navigator h3{
        margin-bottom: 15px;
    }
}
@media (min-width:625px) and (max-width:876px) {
    label{
        width: 131px!important;
    }
    
}
@media screen and (max-width:876px) {
    #learned{
        padding-left: 5px !important;
    }
    .secparg{
        padding-left:5px;
        font-size:13px
    }
    #learned{
        text-align: left;
    }
    label{
        width: 95px;
    }
    .navigator h3{
        font-size: 13px;
        margin-bottom: 15px;
    }
    .cont1{
        flex-direction: column;

    }
    .uncol,.statics{
        width: 100%;
        margin-bottom: 30px;
    }
    .myanal{
        left:0;
        bottom: 8px;
        padding-top: 25px;
    }
    .fur,.typo{
        padding-left: 2px !important;
    }
    .small, .desc,.link{
        padding-left: 6px;
        font-size: small;
        font-weight: lighter;
    }
    
    .loai{
        margin-bottom: 10px;
        height: 235px;
        width: 235px;
        object-fit:cover;
        border-radius: 50%;
    }

.face, .insta, .gmail {
    height: 35px;
}
    .container1{
        flex-direction: column-reverse;
        justify-content: center
    }
    .workin{
        align-items: center;
    }
    .font-sans-36px{
        font-size: 26px !important;
    }
    .pdiv{
        width: 167px;
        left: 56px;
    }
    .pgs{
        justify-content: center;
    }

    .title{
        top: 0px !important;
    }
    h1,.typo{
        font-size:18px;
        padding-left: 3px;
    }
    .title{
        font-size: 20px;
    }
}
